.header {
  height: 80px;
  background-color: aqua;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  .title {
    margin-left: 40px;
    font-weight: bold;
    line-height: 80px;
    color: red;
  }
  .nav {
    line-height: 80px;
    margin-right: 80px;
    a {
      padding: 12px;
    }
  }
}
